* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(35deg, #0e8656, #126aa1);
  color: #fff;
  padding: 10px;
}

.calculator {
  width: 100%;
  max-width: 600px;
  margin-left: 10%;
  margin-top: 5%;
}

.calculator h1 {
  font-size: 60px;
}

.calculator h1 span {
  color: #e09305;
}

.input-box {
  margin: 40px 0;
  padding: 35px;
  border-radius: 10px;
  background-color: #85aabab4;
  display: flex;
  align-items: center;
}

.input-box input {
  flex: 1;
  margin-right: 20px;
  padding: 14px 20px;
  border: 0;
  font-size: 18px;
  outline: 0;
  border-radius: 5px;
  position: relative;
}

.input-box button {
  background: #e09305;
  border: 0;
  outline: 0;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

.input-box input::-webkit-calendar-picker-indicator {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  position: absolute;
  background-position: calc(100% - 10px);
  background-size: 30px;
  cursor: pointer;
}

#result {
  font-size: 20px;
}

#result span {
  color: #e09305;
}
